
h1 {
    text-shadow: 2px 2px grey;
    text-align: center;
    color : white;
    font-size: 100px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
body {
    background-image: url('DARK_THEME1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
button {
    color: green;
    text-align: center;
    font-size: 20px;
    background-color: white;
    /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family: 'Times New Roman', Times, serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px green;
    border-radius: 20px;
    padding: 10px;
    transition-duration: 0.3s;
    box-shadow: none;
}
button:hover{
    background-color: white;
    background-color: green;
    color: green;
    color: white;
    border: 1px white;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
}
img{
    width: 100px;
}
.container {
    position: relative;
    color: white;
}
/* .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */
.centered {
    font-size: 20px;
    color: white;
    content: "The green leaf";
}